@{
    ViewData["Title"] = "MultiVue-Dashboard-AnotherPage";
}

@* @section Styles {
    <environment include="Development,Production,Staging">
        <link rel="stylesheet" href="~/css/dashboard-another-page.css"/>
    </environment>
}

@section scripts {
    <environment include="Development,Production,Staging">
        <script src="~/js/dashboard-another-page.js" asp-append-version="true"></script>
    </environment>
} *@

<div id="dashboard-another-page">
    This is dashboard-another-page
</div>